extends layout
block content
    .intro-section(style="background-image: url('../images/hero_1.jpg');")
        .container
            .row.align-items-center.justify-content-center
                .col-md-7.mx-auto.text-center(data-aos='fade-up')
                    h1 About Us

    .site-section
        .container
            .row
                .col-lg-7
                    img.img-fluid(src='../images/hero_1.jpg' )
                .col-lg-5.pl-lg-5
                    span.caption About?
                    h2.text-black
                        | About 
                        strong Us
                    .d-flex.feature-icon.mb-3
                    span.wrap-icon.icon-paper-plane.mr-2
                    div
                        h3 Fast Support
                        p You can contact us Any Time Our Email IS :awaisshahbaz414@gmail.com
                    .d-flex.feature-icon.mb-3
                    span.wrap-icon.icon-smile-o.mr-2
                    div
                        h3 Happy Customers
                        p Our customer is our proud We always care about our customers!
                    .d-flex.feature-icon.mb-3
                    span.wrap-icon.icon-support.mr-2
                    div
                        h3 24/7 Support
                        p You can message us anytimes on give number 030xxxxxxxx!
    .site-section.mb-5
        h4
            .container.font-weight-bold
                .row
                    .col-lg-3
                        .numbers
                        strong.d-block 32, 594
                        span Number of Products
                    .col-lg-3
                        .numbers
                        strong.d-block 4
                        span Years of Experience
                    .col-lg-3
                        .numbers
                        strong.d-block 80
                        span Employees
                    .col-lg-3
                        .numbers
                        strong.d-block 4
                        span Number or branches
