extends ./layout

block content
    .container-fluid
        .col-8.m-auto.py-2
            h1 Edit Course
            form(action="/product/Edit/"+product._id , method="post")
                .form-group
                    label(for="name") Product Name
                    input#name(type="text", class="form-control", name="ProductName", value=product.ProductName required)
                .form-group
                    label(for="name") Product Price
                    input#name(type="number", class="form-control", name="ProductPrice", value=product.ProductPrice required)
                .form-group
                    label(for="price") Product Quantity
                    input#price(type="number", class="form-control", name="ProductQuantity", value=product.ProductQuantity required)
                
                input(type="submit", class="btn btn-info")
    