<div class="container-fluid bg-info py-3 mt-4  text-danger font-weight-bold" style=" position: relative;left: 0;bottom: 0;width: 100%;" >
	<div class="row text-center hid">
		<div class="col">
		<div>Copyright @<span style="font-weight:bold">Awais Shahbaz</span> All Rights Reserved</div>
			<div>Designed by Awais</div>
		</div>
	</div>
</div>