extends layout

block content
  .intro-section(style="background-image: url('images/hero_1.jpg');")
    .container
      .row.align-items-center.justify-content-center
        .col-md-7.mx-auto.text-center(data-aos='fade-up')
          h1 The Best Place to Buy and Sell

  .site-section
    .container
      .row.mb-4
        .col-md-7.mb-5.text-center.mx-auto
          h2.text-black
            | Our 
            strong Products
      .row.auctions-entry
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/Lays.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Lays
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/coke.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Coke can
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/cokesmall.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Coke HalfLiter
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/daal chana.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Daal Chana
              
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/daalmash.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') DaalMash
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/pampers.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Pampers Small
              
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/pamperslarge.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Pampers Large
              
        .col-6.col-md-4.col-lg-3
          .item
            div
              strong.price Available
              a(href='item-single.html')
                img.img-fluid(src='images/pepsi.jpg' alt='Image')
            .p-4
              h3
                a(href='item-single.html') Pepsi Can
              

