extends layout

block content
 .intro-section(style="background-image: url('../images/hero_1.jpg');")
    .container
      .row.align-items-center.justify-content-center
        .col-md-7.mx-auto.text-center(data-aos='fade-up')
          h1 Buy our Products
 .container
    .row.mt-4
      .col-8
        h1
          p.text-danger #{title}
      .col-4
    table.table.table-dark.font-weight-bold.mb-2#yes
        thead
          tr
            th Product Name
            th Product Price
            th Product Quantity
            th Actions
        tbody
          each Product in products
            tr
              td= Product.ProductName
              td= Product.ProductPrice
              td= Product.ProductQuantity
              td
                if user  
                  a.btn.btn-success(href="/product/OurProducts/cart/"+Product._id) Add To Cart
            script.
              $(document).ready(function() {
                  $('#yes').DataTable();
              })      
            
